flows.txt
[{"id":"fc2fbd7b.85d86","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"5dcb613a.5edc8","type":"ui_button","z":"fc2fbd7b.85d86","name":"","group":"4145590c.a9f808","order":2,"width":0,"height":0,"passthru":false,"label":"Get image","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":320,"wires":[["bcda4158.9056a"]]},{"id":"bcda4158.9056a","type":"http request","z":"fc2fbd7b.85d86","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://4a0a764e-ddd6-40d7-920f-38ebee39c517-bluemix.cloudant.com/project/_all_docs/?include_docs=true&descending=true&limit=1","tls":"","persist":false,"proxy":"","authType":"basic","x":360,"y":320,"wires":[["cda38236.fe295"]]},{"id":"5e7b20f9.5e46","type":"debug","z":"fc2fbd7b.85d86","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":260,"wires":[]},{"id":"c4c21f65.feae1","type":"ui_template","z":"fc2fbd7b.85d86","group":"4145590c.a9f808","name":"","order":3,"width":0,"height":0,"format":"<img ng-src=\"{{msg.payload}}\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":740,"y":400,"wires":[[]]},{"id":"cda38236.fe295","type":"function","z":"fc2fbd7b.85d86","name":"","func":"msg.payload=msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":320,"wires":[["5e7b20f9.5e46","c4c21f65.feae1"]]},{"id":"4145590c.a9f808","type":"ui_group","z":"","name":"Default","tab":"30372357.eff01c","order":1,"disp":true,"width":"6","collapse":false},{"id":"30372357.eff01c","type":"ui_tab","z":"","name":"device","icon":"dashboard","disabled":false,"hidden":false}]